.createGameForm {
}

.errorMessage {
    color: red;
    font-size: 16px;
}

.form {
    border: solid gray 1px;
    padding: 5px;
}

.react_tags__suggestions {
    background-color: red;
}

.tagNote {
    font-size: 14px;
}